@use "src/styles/variables.scss";
@use "src/styles/layouts.scss";
@use "src/styles/typography.scss";

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  justify-content: space-between;
}

.menu-button {
  float: right;
  @include variables.custom-color("primary-lightest-text");
}

.menu-links#menu_horizontal {
  display: none;
}

.menu-link_horizontal {
  @include variables.custom-color("primary-lightest-text");
  text-decoration: none;
  margin: auto 10px;
  .link-icon {
    @include layouts.place-center;
  }
}

#home-link {
  margin-top: 5px;
  #brand-name_text {
    font-size: xx-large;
    @include variables.custom-color("primary-lightest-text");
    @include typography.divorsee-font-family;
  }
}

.icon-text-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-text {
  margin: auto 5px;
}

@media screen and (min-width: 1280px) {
  .menu-button {
    display: none;
  }
  .menu-links#menu_horizontal {
    display: flex;
  }
}
