<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let link of links; trackBy: trackByFn"
        [routerLink]="link.path"
        (click)="sidenav.toggle()"
      >
        {{ link.text }}
      </a>
      <a mat-list-item (click)="sidenav.toggle()">
        <button mat-icon-button color="accent" aria-label="close navigation">
          <mat-icon>close</mat-icon>
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar">
        <span>
          <a [routerLink]="'/'">
            <img
              src="assets/img/dp-logo.svg"
              alt="Divorce predictor logo (heart in forturne-telling crystal ball)"
              width="30"
              height="30"
            />
            <span>Divorcast</span>
          </a>
        </span>
        <span class="menu-spacer"></span>
        <div class="menu-links" id="menu_horizontal">
          <a
            *ngFor="let link of links; trackBy: trackByFn"
            [routerLink]="link.path"
          >
            {{ link.text }}
          </a>
        </div>
        <button mat-icon-button class="menu-button">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
