@use "src/styles/layouts.scss";
@use "src/styles/variables.scss";
@use "src/styles/typography.scss";

@mixin parallax-position($layer) {
  @if ($layer == top) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if($layer == bottom) {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@mixin container-flex-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

$fallback-bg-color: #d8bfd8;
#banner_box {
  @include parallax-position("bottom");
  #banner_container {
    height: 400px;
    overflow: hidden;
    background: $fallback-bg-color;
  }
}

#banner_top-layer {
  background: rgba(1, 1, 1, 0.5);
  max-width: 500px;
  padding: 20px;
  @include parallax-position("top");
  @include container-flex-branding;
  #banner_branding {
    @include layouts.place-center;
    gap: 5px;
    #banner_branding_logo-container {
      @include layouts.place-center;
    }
  }
  #banner-text {
    font-size: 1.2em;
    @include variables.custom-color("primary-light-text");
    padding: 5px;
  }
}

#banner_branding-name_container {
  @include layouts.place-center;
  #banner_branding-name_text {
    font-size: 3em;
    @include variables.custom-color("primary-lightest-text");
    @include typography.divorsee-font-family;
    text-shadow: 2px 2px black;
  }
  #banner_start-button_container {
    @include layouts.place-center;
    #banner_start-button {
      font-size: 1em;
      font-weight: bold;
      @include variables.custom-color("primary-darkest-text");
      margin-top: 10px;
    }
  }
}

#img_container {
  #banner_bottom-layer {
    @include parallax-position("bottom");
    width: 100%;
    min-height: 900px;
  }
}
