#brief-intro_container {
  background: lightgray;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.subsection {
  flex: 0 1 200px;
  margin: 10px;
  color: black;
  background: #ffc0cb;
  .header_container {
    display: grid;
    place-items: center;
  }
  .header {
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
  }
  .content {
    margin-top: 10px;
  }
}
