@use "src/styles/variables.scss";
@use "src/styles/layouts.scss";

$section-bg-color: lightgray;
$subsection-bg-color: #ffc0cb;

#brief-intro_container {
  background: $section-bg-color;
  padding: 20px;
  @include layouts.pancake-flex("parent");
}

.subsection {
  @include layouts.pancake-flex("child", 200px, 0);
  @include variables.custom-color("primary-dark-text");
  background: $subsection-bg-color;
  margin: 10px;
  .header_container {
    @include layouts.place-center;
    .header {
      text-align: center;
      vertical-align: middle;
      line-height: 100%;
    }
  }
  .content {
    margin-top: 10px;
  }
}
