@mixin grid-5-cols {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.mat {
  &-stepper-horizontal {
    margin-top: 8px;
  }
  &-form-field {
    margin-top: 16px;
  }
}

.questionnaire_options {
  &-range {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 10px;
    @include grid-5-cols;
  }
}

.questionnaire_question {
  &-p {
    color: #fff;
    padding-top: 10px;
  }
  &-radio_group {
    @include grid-5-cols;
  }
  &-divider {
    margin: 20px 0px !important;
  }
}

.questionnaire_done-btn {
  &_container {
    margin: 20px 0px 0px 0px;
    @include grid-5-cols;
  }
}

.questionnaire_results {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.results {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  &_header {
    font-size: 4rem;
  }
  &_subheader,
  &_absent {
    font-size: 2rem;
  }
  &_btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
